#div1{
    height: 400px;
    width: 50%;
    background-color: aqua;
    border-radius: 20px;
    margin-left: 20px;
    box-shadow: 20px 20px red;
    margin-left: 20%;
    
    

}
#div1:before{
    transition: 0.5s ease all;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '' ;
    background-color: aqua;
    z-index: -1;
}
#div1:hover,#btn:focus{
    color: white;
}
#div1:hover:before, #btn:focus:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
#div1:active{
    /* transform:scale(0.9); */
}

#div1:hover{
    box-shadow: 20px 20px blue;
}
#input1{
    text-align: center;
    align-items: center;
    margin-left:40% ;
}
#h2{
    margin-left: 45%;
    color: red;


}
#btn{
    
     margin-left: 40%;
      font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border:3px solid #FF0072;
    border-radius: 2px;
    position: relative;
    box-shadow: 0.2px 10px rgba (0, 0, 0, 0.16) ;
    color:#FF0072;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
}
#btn:before{
    transition: 0.5s ease all;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '' ;
    background-color: #FF0072;
    z-index: -1;
}
#btn:hover,#btn:focus{
    color: white;
}
#btn:hover:before, #btn:focus:before{
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
}
#btn:active{
    transform:scale(0.9);
}

#h2:hover{
    color: yellow;
}